<div class="jumbotron">
    <div class="container">
        <br>
        <h1 style="color: rgb(14, 129, 145)"> Spring </h1>
        
            
<br>
    <img src="assets/images/business.PNG" class="img-responsive" width=3140 px height=90 px>
 
 <br><br>
 <h3 style="color: rgb(14, 129, 145)"> Course Overview </h3><br>
 
<div class="grad"> 
  <strong> 
  <ul> 
   <br>
   <li>Intensive 8 -Week Program </li> <hr>
   <li>Learn Spring ,DI, IOC, Apache Maven Build System, SPRING MVC ,JSON, JPA, Spring Security,Hibernate,NoSQL and More...</li> <hr>
   <li>Assignments and Case Studies </li> <hr>
   

  </ul>
</strong>
</div>
<br>

<h3 style="color: rgb(14, 129, 145)"> What You Will Learn in this Course ? </h3><br>

<div class = "container">

  
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Spring Core
        </h5>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
          Getting Started with Spring  | MVC Architecture |Drawbacks of EJB
          |POJO and more....
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         Modules of Spring 
        </h5>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Data Access and Integration |
        WEB MVC | AOP |Spring Core Container and More....

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Dependency Injection
        </h5>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
          IOC 
          Dependency Injection and More....
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
            Apache Maven
        </h5>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse">
      <div class="panel-body">
          Build Systems 
          Jar integration
          Maven Repository and More...
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
         Rerpresentational State Transfer (REST ) API
        </h5>
      </h4>
    </div>
    <div id="collapsefive" class="panel-collapse collapse">
      <div class="panel-body">
          Spring MVC |
          Controller | 
          Service    |
          Jackson Annotations and More....


      </div>
    </div>
  </div>
    
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
        Spring Data JPA
      </h5>
    </h4>
  </div>
  <div id="collapsesix" class="panel-collapse collapse">
    <div class="panel-body">
        Persistance Of Data  |
        Java Persistence API |
        Hibernate | Embedded Database Support and More... 
        
    </div>
  </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
          Spring Security and Actuator
        </h5>
      </h4>
    </div>
    <div id="collapsesix" class="panel-collapse collapse">
      <div class="panel-body">
          Spring Security | Monitoring ...

      </div>
    </div>
  </div>


  <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
            Cloud Discovery
          </h5>
        </h4>
      </div>
      <div id="collapsesix" class="panel-collapse collapse">
        <div class="panel-body">
             Micro Services |
             Eureka Discovery and More...
        </div>
      </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
              Spring Integration
            </h5>
          </h4>
        </div>
        <div id="collapsesix" class="panel-collapse collapse">
          <div class="panel-body">
              
              Kafka Messaging and More....               
            
          </div>
        </div>
      </div>


      
  
</div> <!-- end container -->


 
<h2 style="color: rgb(14, 129, 145)"> Who Should Attend</h2>


<div class="container">
        <div class="row">
          <section class="section_0">
            <div class="col-sm-3">
              <div class="circle circle1">
                  <img src="assets/images/webdeveloper.png" width="80px" height="80px">
                <h5> <p> Developer</p></h5>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="circle circle2">
                  <img src="assets/images/adviceicon.png" width="80px" height="80px">
                  <h4> <p>Proj.Lead</p></h4>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="circle circle3">
                  <img src="assets/images/student.jpg" width="80px" height="80px">
                  <h4> <p>Web Developer</p></h4>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="circle">
                <img src="assets/images/adviceicon.png" width="80px" height="80px">
                  <h5><p>Enthusiasts</p></h5>
              </div>
            </div>
          </section>
        </div>
      </div>
</div>

</div>
