<div class="jumbotron">
  <div class="container">
       <br><br>
<img src="assets/images/corporate.png"  width=100%  height=100%>
<br>

   <div>
  <h3 style="font-family:'Alice', serif"> Our Methodologies</h3><br> 
   <p>We provide innovative delivery methodologies to provide good learning outcomes that can work across distributed people and differing requirements.</p>
   
   
   <div >
                
                  <div class="row">
                    <div class="col-md-4">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3> On Site Training  </h3>
                            <p style="font-family:'Alice', serif">You can have our instructors come & train you at your own campus as per your convenient time slots. We ensure your time is used productively. </p>
                          </div>
                       
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                          <div class="caption">
                            <h3>On line Trainer-Led  </h3>
                            <p style="font-family:'Alice', serif">We provide you the opportunity to communicate with faculty in their respective fields, so that you can make the most of your training worthful.
                            </p>
                          </div>
                      
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>Learn Through Architecture  </h3>
                            <p style="font-family:'Alice', serif">
                                Learning through Architecture allows you to learn the concept prominent and makes you stay tuned with emerging trends 
                                </p>
                          </div>
                      </div>
                    </div>
                  
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>WorkShop Driven  </h3>
                              <p style="font-family:'Alice', serif">
                               We believe one to one teaching, Hands-on workshops and focused on applications.
                               </p>
                            </div>
                        </div>
                      </div>
                    
                  
                </div>
           
                </div>
                <div class="list">
                    <h2 style="font-family:'Alice', serif"> Who Can Benifits</h2><br> 
                        <ul>  
                             
                              <li> IT Professionals </li>
                              <li> Software Professionals</li>
                              <li> Freshers Looking for Oppurtunities in Data Science and Engineering</li>
                              <li> Business People cater to upgrade </li>
                              <li> Office Bearers keen to Business Intelligence </li>
                        </ul>
                  </div>

</div>

</div>
</div>
