<div class="jumbotron">
    <div class="container">
          <br><br>
          <h1 style="color: rgb(14, 129, 145)"> Business Intelligence - Tableau </h1>
      <p style> Learn Core Data Visualization  with i18n Solutions Lab in Salem</p>
      <p title="tool def" style="color:rgb(7, 47, 53);font-family:'Alice', serif;">
        Tableau is a very powerful and easy to understand data visualization software. When it comes to data, tableau helps to get the key insights out of it by creating appealing visualization in zero time. Creating visualization on the existing data from the business and doing descriptive analytics on top of it unfolds lot many hidden insights and help business and management to take quick and correct decisions.
        <br>
      </p>  
        <img src="assets/images/bi.png" class="img-responsive" width  height>
  <br>
  
  <div >
    <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;"> Status of Business Intelligence  </p>
    
                <div class="row">
                  <div class="col-md-4">
                    <div class="thumbnail">
                   
                      <div class="caption">
                          <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Tableau has a capability to connect with any databases and that gives an edge over excel and the appealing visualizations helps users to understand the details in quick time.</p>
                        </div>
                      
                    </div>
                    
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                      
                         <div class="caption">
                          <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Tableau is the major component of today's data science. To get the insights out of data and help in quick decisions.</p>
                        </div>
                      
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="thumbnail">
                                           
                        <div class="caption">
                          <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Facebook, General Motors, KPMG, Bank of America & other 30,000+ MNCs worldwide use Tableau across industries .</p>
                        </div>
                      
                    </div>
                  </div>
                
              </div>

         
              </div>

  
   <div class="content">
       <h3 style="color:rgb(7, 47, 53);font-family:'Alice', serif;" ><b>Who Should Attend</b></h3>
          
            <ul > 
               <li style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Final Year Students who are looking for Business Intelligence jobs</li>
               <li style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Freshers out of the campus who are looking for jobs in start-ups </li>
               <li style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Experienced folks who are in data industry and look forward to adapting in Business Intelligence </li>
               <li style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Experienced professionals who look forward to switch the jobs/domain to Business Intelligence</li>
            </ul>
       
         <br>
     
    </div>     

  <br>
  
  <div class="content1">
          <p style="color:rgb(27, 209, 233);font-family:'Alice', serif;"> Learning Path -Data Visualization with Tableau   </p>
          
          
          <br>
          
       
  
   <br>

   <div class = "container">

  
    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Getting Started with Tableau
          </h5>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          Tableau Interface | Distributing and Publishing 
          |Getting Started with Data 
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Data Connections
          </h5>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          Managing Extracts and Metadata |Preparation of Data | Datasource saving and Publishing |
          Data Blending and Joins | Connection with Differenct Data source

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Visual Analytics
          </h5>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          Getting Started with Visualization | Drill Down |Sorting |Grouping Formatting|Working with Sets|
          Filters|Trend Lines | Formatting Panel |Clustering and Forecasting 

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
          Mapping 
          </h5>
        </h4>
      </div>
      <div id="collapsefour" class="panel-collapse collapse">
        <div class="panel-body">
          Getting Started with Mapping |Tableau Maps |Editing Un reconginized locations |
          spatial file |Extension of Tableau mapping capablities | Geo Coding  |Web Mapping 

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
            Dashboard and Tales
          </h5>
        </h4>
      </div>
      <div id="collapsefive" class="panel-collapse collapse">
        <div class="panel-body">
          Getting Started with Dashboards | Building Dashboards | Tales of Dashboard

        </div>
      </div>
    </div>
      
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
          Calculations
        </h5>
      </h4>
    </div>
    <div id="collapsesix" class="panel-collapse collapse">
      <div class="panel-body">
        Getting Started with Calculations|Number |String |Dates |Logics|Aggregation |Modifications|Lod|Integrations
      </div>
    </div>
  </div>



</div>
  
    
  </div> <!-- end container -->
   
   
  <br>
    <div >
       <p style="color:rgb(27, 209, 233);font-family:'Alice', serif;"> Program Structure  </p>
       <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Two months program including interactions with faculty and industry practitioners. Sessions  of Teaching and Hands-on Excercises on alternate days. Candidates learn conceptual techniques from Data Manipulation to Visualization  and provide actionable report. </p>
       <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;"> Crash courses depending upon the students' requirement</p>
    </div>
  
    
  </div>
  
  </div>
  