<div class="jumbotron">
    <div class="container">
          
          <br><br>
          <h2 style="color: rgb(14, 129, 145)"> Web Development </h2>
        
  <!-- <img src="assets/images/cr1-1.png" class="img-responsive" width=2450px  height=60px> -->
  <p>After the Completion of this training, you’ll be Industry ready as a Full Stack Web Developer, and learn to develop complex server-side web applications that make use of relational databases to persistently store data. You’ll construct applications that can support any front end, and extends to support as many end users.
  </p>
  
  <div id='container'>
    <h3 style="color: rgb(14, 129, 145)"> Full Stack Web Development </h3>
       <hr>
    <div class='card'>
      <div class="card">
    <a href="home.html"><img src="assets\images\web1.png" alt="Avatar" width=100% ></a>
    <div class="card">
      <h4><b>Web Development</b></h4> 
      <h6> Front-End Frame work</h6> 
    </div>
    </div>
    
  
    <!--   <div class='back'>
        <span>Skills:</span>
        <p>JAVA,Spring,Python,Data Science Practitioner</p>
        <span>Social media </span>
        
      </div>
     --></div>
    <div class='card'>
      <div class="card">
    <a href="home.html"><img src="assets\images\php.png" alt="Avatar" width=100%></a>
    <div class="card">
      <h4><b>Web Development</b></h4> 
      <h6>HTML5,CSS3,JS,JQuery,PHP,MySQL</h6> 
    </div>
    </div>
    
      
    </div>
    <div class='card'>
    <div class='card'>
      <div class="card">
    <a href="home.html"><img src="assets\images\mean.png" alt="Avatar" width=100% ></a>
    <div class="card">
      <h4><b>MEAN Stack Developer</b></h4> 
      <h6>MongoDB,ExpressJS, Angular, NodeJS</h6> 
    </div>
    </div>
          
    </div>
      
    </div>
    <div class='card'>
      <div class="card">
    <a href="home.html"><img src="assets\images\neo.png" alt="Avatar" width=83% height=50%></a>
    <div class="card">
      <h4><b>NoSQL</b></h4> 
      <h6>Neo4j</h6> 
    </div>
    </div>
    </div>
  </div>
  
  
  
   <div class="content">
    </div>     
  <br>
  
  
  <br>
    <div >
       <p style="color:rgb(27, 209, 233);font-family:'Alice', serif;"> Program Structure  </p>
       <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Three months program including interactions with faculty and industry practitioners. Sessions  of Teaching and Hands-on Excercises on alternate days. Candidates learn conceptual techniques from Data Manipulation to Visualization  and provide actionable report. </p>
       <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;"> Crash courses depending upon the students' requirement</p>
    </div>
  
   
  
  </div>
  <br><br>
  
    
  
  
  
  
   
  </div>
  
  