


<div class="jumbotron">
  <div class="container">
<br><br>
<!--img src="assets/images/techpractice1.jpg" class="img-responsive"   width=1140 px height=250 px-->
</div>

<div class="container">


          <h2 style="color:red">Technology Practice</h2>
          <ul>
                  <li>Open Source</li>
                  <li>Unified Modeling Language</li>
                  <li>Service Oriented Architecture</li>
                  <li>Open Authentication</li>
                  <li>Role Based Access Control</li>
                  <li>Model View Controller Architecture </li>
                <li>Spring 4.0 </li>
  </ul>
  </div>
</div>
