<div class="jumbotron">
  <div class="container">
        
        <br><br>
        <h2 style="color: rgb(14, 129, 145)"> Python Data Science & Analytics </h2>
        <img src="assets/images/datascience.png" class="img-responsive" width=2450px  height=40px>
        <br>

        
    
    <P style="color:rgb(7, 47, 53);font-family:'Alice', serif;">
        For Many researchers, Python is a first class tool mainly because of its libraries for storing,manipulating and gaining insight from data.After the completion of this course, you will have an exposure to handle individual pieces of Data Science Eco System ideal for tackling day-to-day issues ,manipulating ,transforming and cleaning data ,Visualizing different types of data and using data to build statistical or machine learning models.
        <br>
      </P>
      
 <div class="content">
  </div>     
<br>

<h2> Course Overview</h2>
  <div class="grad"> 
      <strong> 
      <ul> 
       <br>
       <li>Intensive 14 -Week Program </li> <hr>
       <li>Learn Core Paradigm of Python Programming , NumPy ,Pandas ,MatplotLib and Seaborn...</li> <hr>
       <li>Assignments and Case Studies </li> <hr>
       <li>150 Hrs of Intensive Scripting and Coding  </li> <hr>
       <li>Expert Mentoring </li> <hr>
       
       <br>
       </ul>
    </strong>
    </div>
    
  
<br>
<div class="content1">
        <p style="color:rgb(27, 209, 233);font-family:'Alice', serif;"> Learning Path -Python with Data Science and Engineering   </p>
        
     
        
        
  <!-- <div class="javasyllabi" id=py>
        <button type="button" class="btn btn-block btn-default" data-toggle="collapse" data-target="#java">Python </button>
        
                    <div id="java" class="collapse">
                      <h4>    
                        Python Introduction and Environment Setup<br><br>
                
                        Variables, Operators ,Constraints ,Iterations <br><br>
                        Functions and its attributes<br><br> 
                        Object Oriented Programming <br><br>
                        UTC operations functionalities Deep Drive<br><br>
                        Packages and Modules <br><br>
                        Numbers, strings, List ,Tuples ,Dictionary <br><br>
                        File IO operations and attributes <br><br>
                        Pickling dump and Load <br><br>
                        Reg-Ex Regulart Expression and its fantacy<br><br>
                        Multithreading and Networking <br><br>
                        User Interface Engineering using tkinter (GUI)<br><br>
                        Database Operations CRUD with MySQL and MongoDB<br>
                     </h4>
                    </div>   
  </div >      

 <br>
 
  <div class="javasyllabi" id=py>
        <button type="button" class="btn btn-block btn-info" data-toggle="collapse" data-target="#numpy">NumPy </button>
        
                    <div id="numpy" class="collapse">
                      <h4>    
                        Understanding Data Types in Python<br><br>
                        NumPy Array <br><br>
                        Computation on NumPy Arrays Universal Functions <br><br>
                        Fancy Indexing,Slicing,Broadcasting<br><br>
                        Arithmetic and Binary Operators<br><br>
                        Statistical , Mathematical and String Functions<br><br>
                        Byte Swapping<br><br>
                        Copies and Views<br><br>
                        Matrix-Lib<br>
                     </h4>
                    </div>   
  </div >      

  <br>
  <div class="javasyllabi" id=py>
    <button type="button" class="btn btn-block btn-default" data-toggle="collapse" data-target="#pandas">Pandas </button>
    
                <div id="pandas" class="collapse">
                  <h4>    
                    Introduction to Data Structures<br><br>
                    Series,DataFrame,Panel<br><br>
                    Basic Functionality and  Statistics<br><br>
                    Re indexing Iteration Sorting<br><br>
                    Working with Text Data<br><br>
                    Options & Customization<br><br>
                    Indexing & Selecting Data<br><br>
                    Statistical and  Window Functions<br><br>
                    Combining Datasets <br><br>
                    Missing Data<br><br>
                    GroupBy  Merging/Joining<br><br>
                    High Performance Pandas<br><br>
                    Date Functionality and Timedelta<br><br>
                    Categorical Data and Visualization<br><br>
                    IO Tools and Sparse Data<br><br>
                 </h4>
                </div>   
</div >      
 <br>

 <div class="javasyllabi" id=py>
  <button type="button" class="btn btn-block btn-info" data-toggle="collapse" data-target="#matplot">MatPlotLib</button>
  
              <div id="matplot" class="collapse">
                <h4>    
        
                  Visualization with MatplotLib<br><br>
                  Line Plots ,Scatter Plots<br><br>
                  Visualization Errors <br><br>
                  Density and Contour Plots<br><br>
                  Histograms, Binning and Density<br><br>
                  Customization with plot legends and Colorbars<br><br>
                  Text and Annotations<br><br>
                  Configuration and StyleSheets<br><br>
                  Visualization with Seaborn<br><br>
          
               </h4>
              </div>   
</div >       -->

</div>
<br>

<div class = "container">

  
    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Python Core
          </h5>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          
            Python Introduction and Environment Setup<br><br>
            Programming Constructs <br><br>
            Object Oriented Programming <br><br>
            UTC operations functionalities Deep Drive<br><br>
            File IO operations and attributes <br><br>
            Reg-Ex Regulart Expression and its fantacy<br><br>
            Multithreading and Networking <br><br>
            User Interface Engineering (UI)<br><br>
            Database Operations CRUD and More.....Get Your Detail Syllabus.... <br>
            

        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          NumPy
          </h5>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            Understanding Data Types in Python
            NumPy Array 
            Computation on NumPy Arrays Universal Functions 
            and More....
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Pandas 
          </h5>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
                    Introduction to Data Structures
                    Series,DataFrame,Panel<br><br>
                    Basic Functionality and  Statistics<br><br>
                    and More....
          </div>
      </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
              MatplotLib
          </h5>
        </h4>
      </div>
      <div id="collapsefour" class="panel-collapse collapse">
        <div class="panel-body">
            Visualization with MatplotLib<br><br>
            Density and Contour Plots<br><br>
            Visualization with Seaborn and More....<br><br>
    
      
        </div>
      </div>
    </div>
        
    
  </div> <!-- end container -->

  <br>
  <div >
     <p style="color:rgb(27, 209, 233);font-family:'Alice', serif;"> Program Structure  </p>
     <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;">Three months program including interactions with faculty and industry practitioners. Sessions  of Teaching and Hands-on Excercises on alternate days. Candidates learn conceptual techniques from Data Manipulation to Visualization  and provide actionable report. </p>
     <p style="color:rgb(7, 47, 53);font-family:'Alice', serif;"> Crash courses depending upon the students' requirement</p>
  </div>

  
<div>
  <strong><h4 style="color: rgb(14, 129, 145)"> Stay Ahead with Python DataScience and Engineering  </h4></strong>

  <p style="color: rgb(7, 47, 53);font-family:'Alice', serif;">Differentiate yourself with a the knowledge and skills you've gained working on projects, simulations, case studies will makes you to stay ahead. </p>
  

  
</div>
<h2 style="color: rgb(14, 129, 145)"> Who Should Attend</h2>


<div class="container">
        <div class="row">
          <section class="section_0">
            <div class="col-sm-3">
              <div class="circle circle1">
                  <img src="assets/images/student.png" width="80px" height="80px">
                 <p> Students </p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="circle circle2">
                  <img src="assets/images/adviceicon.png" width="80px" height="80px">
                  <h4> <p>Proj.Lead</p></h4>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="circle circle3">
                  <img src="assets/images/analytics.png" width="80px" height="80px">
                  <h4> <p>Statistician</p></h4>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="circle">
                <img src="assets/images/dba.png" width="80px" height="80px">
                  <h5><p>DataAnalyst</p></h5>
              </div>
            </div>
          </section>
        </div>
      </div>
</div>



 
</div>

