<div class="jumbotron">
      <div class="container">
        
            <h1 style="color: rgb(14, 129, 145)"> Java  </h1>
        
        <p style="font-size:20px; font-family:'Alice', serif;" >
            Java is a programming atmosphere rather than programming language, which is used to develop and deploy enterprise applications .
            <br><br><br>
      
            Our JAVA trainers are well experienced and helps candidates in educating all the concepts of JAVA. 
           </p>

	 <img src="assets/images/java1.png" class="img-responsive" width=1450px  height=80px>
  <br>
  <h2> Course Overview</h2>
  <div class="grad"> 
      <strong> 
      <ul> 
       <br>
       <li>Intensive 8 -Week Program </li> <hr>
       <li>Learn Java Fundamentals, Object Oriented Programming, Thread programming ,Networking , AWT,SWINGS and More...</li> <hr>
       <li>Assignments and Case Studies </li> <hr>
       <li>Expert Mentoring </li> <hr>
       <br>
       </ul>
    </strong>
    </div>
    
  

     <div class="content">
          
      </div>     
    <br>

    <div class="content1">
            <p style="color:maroon;font-family:'Alice', serif;"> Benefits of Java Training @ i18n  </p>
            
            <div style="font-family:'Alice', serif">
                  <h4 style="font-family:'Alice', serif">Good Technical Knowledge of Java </h4>
                  <h4 style="font-family:'Alice', serif">Strong Understanding of Business Logics </h4>
                  <h4 style="font-family:'Alice', serif">High Exploration of Career Opportunities  </h4>
                  
            </div>
            <br>
            
      <h4 style="color:maroon;font-family:'Alice', serif;"> What You Will Learn in this Course?</h4> <hr>
      <div class = "container">

  
        <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Introduction to the Object Oriented Programming
              </h5>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                History of Java programming | 
                Features of Java programming |
                Introduction to Editions of Java J2SE |J2EE |J2ME
                                            
                Classes | Object | Methods 
                                
                Polymorphism | Method Overloading and more....
                
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
               Programming Constructs : Data types | variables |Operators
              </h5>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Data types | variables |Operators |
              Decision making and Branching and more....
    
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Inheritance & Polymorphism
              </h5>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                Types of Inheritance |
                Classification of classes Super | Base class & Derived Class 
                Importance of extends in inheritance |
                Overloading |
                Overriding and more....
              </div>
          </div>
        </div>
    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                  Interface & Packages
              </h5>
            </h4>
          </div>
          <div id="collapsefour" class="panel-collapse collapse">
            <div class="panel-body">
                Why Interface |
                Usage of keyword- implements |
                extends and implements |
            
              Declaring packages  |
              Importing packages & Accessing packages |
              Environment setup for the packages |
              Why packages | and more....
            
            </div>
          </div>
        </div>
    
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                String , String Handling and Exception Handling
              </h5>
            </h4>
          </div>
          <div id="collapsefive" class="panel-collapse collapse">
            <div class="panel-body">
                Methods and its Implementation and more....
                Difference between Errors and Exceptions
                Common Exceptions
                How to handle Exceptions
                Exception handling methods 
		            try-catch
		            throw
		            throws
		            finally and more....

    
            </div>
          </div>
        </div>
          
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
              Multithreading 
            </h5>
          </h4>
        </div>
        <div id="collapsesix" class="panel-collapse collapse">
          <div class="panel-body">
              Thread life cycle
              Thread class and Runnable interface
              Thread methods

              Synchronization & Deadlock 
            	Thread inter communication
	            Synchronized objects and more....

          </div>
        </div>
      </div>
    
    
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                Generic and Collection Classes
              </h5>
            </h4>
          </div>
          <div id="collapsesix" class="panel-collapse collapse">
            <div class="panel-body">
                Generic methods
                Generic classes  
                Collection Classes   and More....
  
            </div>
          </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                  Abstract Windows Toolkit and Listeners (GUI)
                </h5>
              </h4>
            </div>
            <div id="collapsesix" class="panel-collapse collapse">
              <div class="panel-body">
                  awt component class 
                  Developing GUI applications 
                  Listeners and More....
                  
              </div>
            </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                    UI Engineering with JFC Swing
                  </h5>
                </h4>
              </div>
              <div id="collapsesix" class="panel-collapse collapse">
                <div class="panel-body">
                    
                    Swing Hierarchy
                    Atomic Components
                    Containers Intermediate  and more...
                                   
                  
                </div>
              </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                      Java Networking 
                    </h5>
                  </h4>
                </div>
                <div id="collapsesix" class="panel-collapse collapse">
                  <div class="panel-body">
                      
                      Introduction to Networking  |
                      InetAddress |
                      URL |
                      TCP Socket Programming  | and more....
                    
                  </div>
                </div>
              </div>


              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <h5 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                        Integrated Project 
                      </h5>
                    </h4>
                  </div>
                  <div id="collapsesix" class="panel-collapse collapse">
                    <div class="panel-body">
                        Completion of the java hands-on training will be ended with the integrated project work on given applications Segregated for a batch consists of 6 students over the software development life cycle model.
                    </div>
                  </div>
                </div>
    
    </div>
      
        
      </div> <!-- end container -->
       
      <br>
      <div >
         <p style="color:maroon;font-family:'Alice', serif;"> Program Structure  </p>
         <p style="font-size:20px; font-family:'Alice', serif;"> Eight Weeks program including interactions with faculty and industry practitioners. Sessions  of Teaching and Hands-on Excercises on alternate days. Candidates learn conceptual techniques and foundations of Java Paradigm</p>
         <p style="font-size:20px; font-family:'Alice', serif;"> Crash courses depending upon the students' requirement</p>
      </div>

      <div >
                  <p style="color:maroon;font-family:'Alice', serif;"> Who Should Attend  </p>
                  
                              <!-- <div class="row">
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="/w3images/lights.jpg" target="_blank">
                                      <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
                                      <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="/w3images/nature.jpg" target="_blank">
                                      <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
                                      <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="thumbnail">
                                    <a href="/w3images/fjords.jpg" target="_blank">
                                      <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
                                      <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              
                            </div> -->

                       
                            </div>
                  
               </div>
         
               <div class="container">
                  <div class="row">
                    <section class="section_0">
                      <div class="col-sm-3">
                        <div class="circle circle1">
                            <img src="assets/images/webdeveloper.png" width="80px" height="80px">
                          <h4> <p>Professionals</p></h4>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="circle circle2">
                            <img src="assets/images/adviceicon.png" width="80px" height="80px">
                            <h4> <p>Job Seekers</p></h4>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="circle circle3">
                            <img src="assets/images/enthu.png" width="80px" height="80px">
                            <h5> <p>Students</p></h5>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="circle">
                          <img src="assets/images/student.png" width="80px" height="80px">
                            <h5><p>Enthusiasts</p></h5>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>

   
</div>

</div>
